* {
     margin: 0;
     padding: 0;
}

body {
     background-color: black;
     margin-left: auto;
     margin-right: auto;
     width: 20em;
     
     font-family: font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#home {
     margin-top: 90px;
     width: 20em;
}
#home, .link {
     margin-bottom: 110px;
}
#home .link a {
     background-color: white;
     color: black;
     text-decoration: none;
     padding: 40px 60px;
     border-radius: 20px;
     font-size: 30px;
}
#home .link a:hover {
     background-color: black;
     color: white;
     text-decoration: none;
     padding: 40px 60px;
     border-radius: 20px;
     font-size: 30px;
     border: 2px solid white;
}

/*====== FIM HOME ====== */

/*======HORARIOS INICIO======*/

#horario {
     margin-top: 90px;
     width: 20em;
     text-align: center;
}

#horario, .link {
     margin-bottom: 110px;
}
#horario .link a {
     background-color: white;
     color: black;
     text-decoration: none;
     padding: 12px 70px;
     border-radius: 20px;
     font-size: 30px;
}
#horario .link a:hover {
     background-color: black;
     color: white;
     text-decoration: none;
     padding: 12px 70px;
     border-radius: 20px;
     font-size: 30px;
     border: 2px solid white;
}

#table table {
     width: 20em;
     color: white;
     border-collapse: separate;
}

#table th, td {
     padding: 7px;
}

#table th {
     text-transform: uppercase;
     border-top: 1px solid #999;
     border-bottom: 1px solid #111;
     text-align: left;
     font-size: 90%;
     letter-spacing: 0.2em;
}

#table tr.alternado {
     background-color: #3f3f3f;
     color: white;
}

.numero {
     text-align: right;
}

#table tr:hover {
     color: white;
     background-color: blueviolet;
}

h1, h2 {
     color: white;
     padding-bottom: 30px;
     padding-top: 30px;
}

hr {
     border-color: rgba(106, 106, 106, 0.867);
     margin: 20px 0px;
}