*
{
	padding:0;
	margin:0
}

:root {
  --text-color: white;
  --red-color: #F23955;
}

body
{
	background:#000;
	font-family:sans-serif;
	margin:20px auto
}

@media (max-width: 600px) {
	body
	{
		width:90%
	}
}

#container
{
	border-radius:15px;
	width:400px;
	height:375px;
	background-color: var(--red-color);
	margin:0 auto;
	text-align:center
}

@media (max-width: 600px) {
	#container
	{
		width:100%
	}
}

#texto
{
	display:block;
	color: var(--text-color);
	text-align:center;
	padding-top:20px;
	margin-bottom:40px;
	text-shadow:0 8px 32px 0 rgba(31,38,135,0.37)
}

#container ul
{
	padding-top:40px
}

#container ul li
{
	margin-bottom:20px
}

#container ul li a
{
	width:300px;
	padding:20px 0;
	background-color:#000;
	display:inline-block;
	margin:0 auto;
	color:#E0E1EA;
	border-radius:30px;
	text-decoration:none;
	z-index:5
}

@media (max-width: 600px) {
	#container ul li a
	{
		width:90%
	}
}

#container ul li a:hover
{
	background:rgba(255,255,255,0.25);
	box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
	backdrop-filter:blur(4px);
	-webkit-backdrop-filter:blur(5px);
	border-radius:30px;
	font-weight:700;
	color:var(--text-color);
}