*
{
	padding: 0;
	margin: 0;
}

body
{
	background: black;
	margin: 20px auto;
}

@media (max-width: 600px) {
	body {
		width: 90%;
	}
	
}

#container
{
	border-radius: 15px;
	width: 400px;
	height: 800px;
	background-color: #B2004D;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 600px) {
	#container {
		width: 100%;
	}
	
}

#img img {
	margin: 40px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 6px solid black;
	object-fit: cover;
	margin: 30px auto;
}

#texto
{
	display: block;
	color: #E1DFE0;
	margin-bottom: 40px;
	text-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

#texto p
{
	color: #D0CDCE;
}


#container ul li
{
		
	margin-bottom: 20px;
}

#container ul li a
{
	width: 300px;
	padding: 20px 0 20px 0;
	background-color: black;
	display: inline-block;
	margin: 0 auto;
	color: #E0E1EA;
	border-radius: 30px;
	text-decoration: none;
	z-index: 5;
}

@media (max-width: 600px) {
	#container ul li a {
		width: 90%;
	}
	
}

#container ul li a:hover
{
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 5px );
	border-radius: 30px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	
}

