*
{
	padding:0;
	margin:0;
}

:root {
  --primary: #e8e8e8;
  --secondary: #222222;
  --red-color: #F23955;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--secondary);
}



#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 90px;
}

/* HEADER */

header {
  margin-top: 90px;
}

header h1 {
  color: var(--primary);
  font-weight: bold;
}

p {
  color: var(--primary);
}

/* NAV */

nav {
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--red-color);
}


nav ul {
  margin: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav a {
  color: var(--primary);
  display: block;
  padding: 40px 0;
  text-decoration: none;
  border-radius: 10px;
  background:var(--secondary); 
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  font-weight: bold;
  -webkit-box-shadow: 0px 17px 50px 4px rgba(0,0,0,0.25); 
  box-shadow: 0px 17px 50px 4px rgba(0,0,0,0.25);
}

/* FOOTER */

footer {
  margin-bottom: 90px;
}

footer a {
  color: var(--primary);
}

@media (max-width: 500px) {
  nav {
    width: 90%;
  }
}
