* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #e8e8e8;
  --secondary: #222222;
  --red-color: #f23955;
}

html {
  font-family: monospace;
  font-weight: bold;
}

body {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* HEADER */

header #perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #perfil_text {
  padding-bottom: 10px;
}

header #perfil #perfil_text h1 {
  color: var(--primary);
  font-size: 35px;
}

header > #perfil > #perfil_img img {
  width: 120px;
  margin-right: 30px;
  border-radius: 50%;
  position: relative;
}

p {
  color: var(--primary);
  font-size: 20px;
}

/* NAV */

nav {
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
  animation-delay: -1s;
  height: 100%;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    background: linear-gradient(180deg);
  }
  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  margin: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav a {
  color: var(--primary);
  display: block;
  text-decoration: none;
  border-radius: 10px;
  background: var(--secondary);
  font-size: 20px;
  transition: 500ms ease;
  padding: 30px;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--primary);
  -webkit-box-shadow: 0px 17px 50px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 17px 50px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.07);
}

/* FOOTER */

footer {
  margin-bottom: 90px;
  text-align: center;
}

footer a {
  color: var(--primary);
}

@media (max-width: 500px) {
  #container {
    margin-top: 0;
    width: 90%;
  }
  header { 
    margin: 90px auto 0px auto;
    width: 90%;
  }

  header #perfil #perfil_img img {
    width: 100px;
  }

  header #perfil #perfil_text h1 {
    font-size: 30px;
  }
  header #perfil #perfil_text p {
    font-size: 15px;
  }

  nav {
    width: 100%;
    animation: none;
    animation-delay: none;
    background: linear-gradient(
      190deg,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
  }

  nav ul {
    margin: 25px;
  }

  nav a:hover {
    transform: scale(1);
  }
}
