* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: var(--transition);
  user-select: none;
}

:root {
  --primary: #e8e8e8;
  --secondary: #222222;
  --red-color: #f23955;
  --transition: 450ms ease;
}

html {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

body {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
}

#container {
  width: 720px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

/* HEADER */

header #perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header img {
  width: 100%;
}

header #perfil_img:hover {
  transform: scale(1.5);
  margin: 2rem;
}

header #perfil #perfil_text h1 {
  color: var(--primary);
  font-size: 2rem;
}

header #perfil #perfil_img img {
  width: 10rem;
  border-radius: 50%;
}

/* NAV */

nav {
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav a {
  color: var(--secondary);
  border: 3px solid var(--primary);
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background: var(--primary);
  font-size: 1.5rem;
  padding: 1.5rem;
}

nav a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  -webkit-box-shadow: 0px 17px 90px 4px rgba(0, 0, 0, 0.50);
  box-shadow: 0px 17px 90px 4px rgba(0, 0, 0, 0.50);
}

@media (max-width: 720px) {
  body {
    padding: 0 10px;
  }

  header #perfil #perfil_img img {
    width: 100px;
  }

  nav li a {
    font-size: 1rem;
  }
}
